<div class="box about_form_box">
	<div class="box_heading">
		Need some ideas?
	</div>
	<div class="box_contents">
		You may have never even met <%=h @crush.subject.name %>, but imagine if <%= @crush.subject.gender.third_person_active_pronoun %> 
		saw your profile and thought you were hot too?
	
		<p>Since this message is only seen <strong>*if*</strong> the crush is mutual, you can be as explicit as you like. 
			No need to feel shy, the feeling is mutual.</p>		
	</div>
</div>
