<div class="your_interactions">
	<div class="description">
		<p>Welcome <%= @user.name %>,</p>

		<p>You are looking at your own interaction page. We don't currently have any ways for you
		to interact with yourself. That's probably best done in the privacy of your own bedroom. :)</p>

		<p>Later on, we might put some statistics here, so that you can see who has been interested in
		you. For now, you'll just have to get out there and interact with <strong>other</strong> people.
		</p>

		<p><%= link_to "Click Here", profiles_url() %> to browse all the Playful Bent profiles and
		find someone that you like.</p>		
	</div>
</div>