<div class="two_column login_page">
	<div class="left_column">
      <h1>Create An Account<br>(It's free)</h1>
      <%= render(:partial => 'users/signup') %>		
	</div>
	<div class="right_column">	
    <h1>Already a User? Login Here<br />&nbsp;</h1>

		<%= render :partial => 'login_form' %>
	</div>
</div>


