<div class="box about_form_box">
	<div class="box_heading">
		Types of Dare Challenges
	</div>
	<div class="box_contents">
		<div class="dare_level_description">
			<%= image_tag "dares/levels/female/flirty.jpg", :alt => 'flirty', :class => 'dare_level_image', :size => '80x80' %>
			<h2>Flirty Dares</h2>
			No full frontal nudity. Dares to make you blush and try something new.			
		</div>
		
		<div class="dare_level_description">
			<%= image_tag "dares/levels/female/sexual.jpg", :alt => 'sexual', :class => 'dare_level_image', :size => '80x80' %>
			<h2>Sexual Dares</h2>
			<p>Nudity and sex acts are fine. These dares can be as hot and steamy as you like.</p>
		</div>
		
		<div class="dare_level_description">
			<%= image_tag "dares/levels/female/kinky.jpg", :alt => 'kinky', :class => 'dare_level_image', :size => '80x80' %>
			<h2>Kinky Dares</h2>
			<p>BDSM, fetish, and other unusual acts are fine.</p>
		</div>
	</div>
</div>