<%= form_remote_tag(:url => formatted_update_password_user_url(@user, :js), :method => :put, :html => {:class => 'inline'}) %>

	<%= error_messages_for :user %>
	<table cellpadding="2">
		<tr>
			<td class="label">New Password</td>
			<td><%= password_field :user, :password, :size => 30 %></td>
		</tr>
		<tr>
			<td class="label">Re-Enter Password</td>
			<td><%= password_field :user, :password_confirmation, :size => 30 %></td>
		</tr>
	    <tr>
	      <td><a href="cancel" onclick="javascript: new Effect.Appear('change_password_link', {duration: 0.0}); new Effect.Fade('password_form', {duration: 0.0}); return false;">cancel</a></td>
	      <td align="right"><input type="submit" value="Ok" class="submit" /></td>
	    </tr>
	</table>

</form>
