<div class="two_thirds">
	<h1>About Interactions</h1>

	<p>You need to <%= link_to 'Login or Sign-Up', new_session_url %> to view interactions with other users.</p>

	<p>Playful Bent is all about flirting and building relationships with other users. The site keeps track
	of who you've been playing with, so that you can come back and do more with them later. Also, doing enough
	activities opens up new areas of the site to interact with that person.</p>

	<p>If you're just browsing the site, and haven't created your own account yet, then you're missing out
	on half the fun. Creating an account is free, and we don't bombard you with adds or spam.</p>

	<%= image_tag 'profiles/about_interactions.png', :alt => 'interactions screenshot' %>	
</div>
