<h1>Artwork Credits</h1>

<div class="artwork_set">
	<%= image_tag 'no-person-photo.jpg', :alt => 'No photo', :class => 'credit_image', :size => '80x80' %>
	<a href="http://www.initials.in" class="artist">by Naveen Naxena</a>
	<span class="location">New Delhi</span>	
</div><br />

<h1>Press</h1>

<div class="important_section">
	<%= link_to image_tag('advertisments/janes_guide_quality.gif', :alt => "Jane's guide says we're \"Quality\""), 'http://janesguide.com' %>
</div>