<div class="event">
	<h1>Auckland Pansexual Drinkies</h1>

	<div class="one_third sidebar">
		<div class="location">
			The Silver Trinity Cafe<br />
			Mount Albert<br />
			Auckland, New Zealand
		</div>
		
	</div>

	<div class="two_thirds">

		<div class="time_and_date">
			<div class="date">Sunday 16th January</div>
			<div class="time_range">4pm until whenever</div>
		</div>

		<div class="description">
			<p>A friendly gathering for polyamorous, queer, bi, transgendered, playful, kinky, or any other type of people
			who are sex-positive and want to meet and greet with other similar folk. The name pansexual can mean
			"spanning" or "encompassing" all sexualities, and we're using it for want of a better term.</p>

			<p>Despite getting together because we're interested in various type of sex or relationships, the purpose
			of this gathering is social. Come along, make friends, have a drink and a chat, and by all means flirt, but
			only within the boundaries of consent and everybody's comfort.</p>
		</div>	
	</div>
	
</div>
