
<h1>Sponsorship in Progress</h1>

<div class="two_thirds">
	<p>It usually takes paypal a few minutes to get back to us and let us know that you've paid. When 
	that happens, we'll send you an email to let you know, and put controls to manage (and cancel) your
	sponsorship on the settings page of your profile.</p>
	
	<p>Thanks for your support!</p>
	
	<p><%= link_to_profile_for(@user, 'Click Here') %> to return to your profile.</p>

	
</div>

