<div class="important_section response_page">
	<h1>You Have Claimed This Profile</h1>
	
	<p>Now that we know that this is you, you'll show up as <strong><%= @yahoo_profile.user.name %></strong> on 
	these group pages<% unless @yahoo_profile.user.name == @yahoo_profile.identifier %>, 
	instead of <strong><%= @yahoo_profile.identifier %><% end %></strong>.</p>
	
	<p>
		<%= link_to 'Return to Groups', groups_path %>
	</p>
</div>