<p>This is a game of <strong>"strip or dare poker"</strong>. It's simple 5 card draw, and we hold your
hand if you don't know the rules. The first time you lose a hand, the you need to remove an article
of clothing and upload a photo of yourself. The second time you lose, you need to perform a dare (which
you've ranked as not too risque).</p>

<p>The stripping and daring alternate if you lose more hands, with the dares getting progressively more
naughty, according to your own ranking of such things. People who loose too much are eventually knocked
out until a winner is determined.</p>

<p>The first strip photo (you with four articles of clothing), and the first "level one" dare, are
viewable by the public. After that, everything is visible only to other people playing this game.</p>
