<div class="dare_games">
	<h1>Dare Games</h1>

  <ul>
    <% @dare_games.each do |dare_game| %>
      <li><%= link_to dare_game.name, dare_game %></li>
    <% end %>
  </ul>
  
  <p>
    <%= link_to "Create New Game", new_dare_game_path %>
  </p>
  
</div>
