<% tab_page do %>
	<div class="section_header">
		<h1>Mailing List</h1>
		<h2><%= @group.name %></h2>
	</div>
	
	<div class="no_access">
		<h2>This List is Private</h2>
		
		<p>This list is only viewable by members of this group.</p>
	</div>
	
	<%= render :partial => 'groups/join', :locals => {:group => @group} %>	
<% end %>