<h1>Share Your Photos</h1>

<%= image_tag 'screencaps/photos_example.gif', :alt => "photos section screen shot", :class => 'screen_capture', :style => 'float:right' %>

<div class="two_thirds">
	<p>
		<strong>Tired of <%= link_to 'censorship', 'http://www.flickr.com/photos/tags/censorship/' %> of your
		photos on flickr, facebook, and all your other favourite sites?</strong>
	</p>

	<p>
		You Playful Bent profile gives you free, unlimited hosting of photos, and the ability to share them with
		other sex-positive people. You can upload any photos you like unless they violate someone's copyright,
		or sexualise children.
	</p>	
	
	<p>This means no more guessing about what "obscene" means, or whether displaying a nipple (gasp!) is going
	to give someone a heart attack.</p>
	
	<p>You can organise your photos using photo-sets and tags, and you can set different access permissions for each
	set, in case you want to make some photos only viewable by your friends.</p>
	
	<p>Already got a photo collection? You can create playful bent photo sets that automatically synchronise with
	some of your flickr photo sets.</p>
	
	<p><strong>Tempted to try it out? You'll need to <%= link_to 'login or sign up', new_session_path %> to playful bent
	to share photos.</strong></p>
	
	
</div>
