<h1>Map Your Relationships</h1>

<p>Group people you know as friends, enemies, lovers, fuck buddies, or however you like to refer to them.</p>

<%= image_tag 'screencaps/friends_example.gif', :alt => 'example of friends page', :class => 'screen_capture' %>

<p>To try this out, you need to <%= link_to 'login', new_session_path %> or 
<%= link_to 'create a free playful bent account', new_session_path %></p>