<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Playful-Bent</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<%= stylesheet_link_tag :defaults %>
	<%= javascript_include_tag :defaults %>
</head>
<body id="iframe">
	
	<%= @content_for_layout %>

</body>
</html>
