<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body style="background-color: #000; color: #FFF; font-family: sans-serif">
	<div style="text-align: center; margin-top: 60px">
		<img src="/images/upgrading.jpg" alt="" />			

		<h1>Upgrading playful bent with new stuff...</h1>
		
		<p>This takes a couple of minutes, but when it's done something will be shiny and new, check
		back in a sec.</p>

	</div>
</body>
</html>